# DS02 - Data Science with Python 

## Introduction to Pandas

Welcome to our second workshop in the ***Data Science with Python*** series! 

In this workshop we will introduce our second Python package Pandas. This is an extremely useful package four datascience as its main focus in on storing and operating on data with structures called dataframes. It if a widely used package in most data science workflow due to the ease of use of the data structure, along with the many in built methods that are part of the package that make working with data in Python so much easier. 

> **Author**: Tania Turdean, Science Executive (19/20), UCL Data Science Society (tania.turdean.19@ucl.ac.uk)
>
> **Updated by**: Philip Wilkinson, Head of Science (20/21), UCL Data Science Society (philip.wilkinson.19@ucl.ac.uk)
>
> Proudly presented by the UCL Data Science Society

In this workshop we will cover: 

## 1) [What is Pandas?](#wip)

## 2) [Pandas Series](#ps)

## 3) [Pandas DataFrame](#pd)

## 4) [Accessing data](#ad)

## 5) [DataFrame operations](#do)

Which should set the basics allowing you to use Pandas in the future.

<a id = "wip"></a>

## What is Pandas? 

Pandas is an open source Python package that is widely used for data science/analysis and machine learning tasks, building on top of the Numpy package that we introduced last week. It is one of the most popular data wrangling packages for data science workflows and integrates well with many of the other libraries used during this process. It is useful because it makes tasks like:

- Data cleaning
- Data filling
- Data normalisation
- Merges and joins
- Data visualisation
- Data inspection

so much simpler than they would otherwise be. This functionality helps with its aim of becoming:

> ...the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language.

as described in the [documentation](https://pandas.pydata.org/about/).

With this in mind then, what can pandas be used for and what can we do with it?

## Installing pandas

If you have not installed pandas on your system you will want to uncomment the following code and run it (only run one of these):

In [81]:
#!conda install pandas
#!conda install lxml

In [82]:
# !pip install pandas
# !pip install lxml


## Importing Pandas

In order to be able to use pandas we need to import it, just like we did with numpy previously. Typically it is imported as `pd` in order to save writing `pandas` everytime we need to use it so we will do just that here. We will also import Numpy again just in case we need it:

In [83]:
# Importing Numpy
import numpy as np

# Importing Pandas
import pandas as pd

<a id = "ps"></a>

## Pandas Series

Pandas series are the fundamental struture that make up the building blocks of Pandas dataframe. They are similar to Numpy arrays but they are different in that we can specify an index for a pandas series that is always linked, allowing us to access the location of the information using the index. In most other respects, such as when applying numerical operations, series can behave much like arrays. 

To generate a series, we need to use `pd.series(x)` where `x` is a lit to be converted to a series. For this, we can also pass the argument `index=y` where `y` is a list of the indices we want to use for the respctive series values, meaning that we can use both numerical and string notation (i.e. min, median, max rather than 1,2,3 if we so desired. 

Below are two code cells, the first of which passes no `index` argumenent, meaning that by default the indexes will be as we expect for a list and/or a python array (i.e. integers starting from $0$). The second cell creates a series but passes another list for the `index` argument, showing us how we can use a list of strings rather than the standard notation:

In [84]:
# Generating Pandas series
series = pd.Series([10,20,30,40])
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [85]:
series[[0, 1]]

0    10
1    20
dtype: int64

In [86]:
# Generating Pandas series
series = pd.Series([10,20,30,40], index=["a","b","c","d"])
print(series)

a    10
b    20
c    30
d    40
dtype: int64

In [87]:
series[['a', 'b']]

a    10
b    20
dtype: int64

<a id = "pd"></a>

## Pandas DataFrame

A data frame is essentially a table of data stored as a variable similar to how you store multiple values in an array as a variable. Note the two are **not** the same! Each column in a data frame is represented by a Pandas series. 

We can create a DataFrame in two ways, either by converting data already stored in Python into a Dataframe or by reading in an extrnal file. In the first instance, we can create a dataframe from a variety of structures, such as from lists or a list of lists or from zipped lists. In our case however we will use a dictionary of lists as follows using the `pd.DataFrame()` function:

In [88]:
#create a dictionary of lists
data_dict = {"Countries": ["England", "Scotland", "Wales", "Northern Ireland"],
            "Capitals": ["London", "Edinburgh", "Cardiff", "Dublin"],
            "Population (millions)": [55.98,  5.454, 3.136, 1.786]}

#convert this to a dataframe
data_df = pd.DataFrame(data_dict)

#display the dataframe
data_df.dtypes

Countries                 object
Capitals                  object
Population (millions)    float64
dtype: object

Other examples of using generated data to create a DataFrame can include passing lists. Here, Unlike with dictionaries, this approach creates the rows with the column nmes to be specified afterwards. Here we can pass a list containing a number of lists, with each list within the greater list determining the rows. The columns are then specified by the second argument `columns=["column a", column b"]` where the input is a list of strings that determine the column names.

In [89]:
# Generates a set of lists
x = ["a1", "b1"]
y = ["a2", "b2"]

# Combines the two lists into a list containing the lists x and y
z = [x,y]

# Generates a data frame from the lists x and y
df = pd.DataFrame(z,columns=["column a", "column b"])

# Displays data frame
df

  column a column b
0       a1       b1
1       a2       b2

Or we can extract the data from an existing datasource, such as a **csv (comma seperated variables)** file using `pd.read_csv`. Inside the file each column is seperated by a comma as the name suggests. The file is read and the data converted to a data frame which is then displayed.

In [90]:
# Defines df as a data frame without adding an additional index column 
df = pd.read_csv("StarColours.csv")

# Displays the data frame df
df

,Color,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples
0,Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra
1,Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica
2,Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega"
3,Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon"
4,White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella"
5,Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran"
6,Red,"under 3,500 K",0.3,0.4,0.04(very faint),Some molecular bands of titanium oxide.,"Betelgeuse, Antares"

As you can see the data within the file has been converted into a table. Notice the additional column added to the left of the data frame. This is the index column essentially providing a unique identifier for each row in the table. We can extract the data without this column by specifiying: 

````df = pd.read_csv("StarColours.csv", index_col=0) ````

which tells essentially sets the index column to be coloumn zero (once again Python starts counting from $0$). This is shown in the code cell below. Note that here the index column isn't entirely unique and often its preferable for the index column to consist of unique identifiers.

In [91]:
# Defines df as a data frame without adding an additional index column
df = pd.read_csv("StarColours.csv", index_col=0)

# Displays the data frame df
df

,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples
Color,,,,,,
Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra
Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica
Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega"
Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon"
White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella"
Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran"
Red,"under 3,500 K",0.3,0.4,0.04(very faint),Some molecular bands of titanium oxide.,"Betelgeuse, Antares"

#### Delimiter
The function ````pd.read_csv()```` assumes by default that your variables are seperated with commas. This is not always the case however. In such cases you'll require a delimiter argument and also potentially an engine argument. The delimiter argument specifies the seperation between columns. By default this is set to a comma. However, the file to be read below contains columns seperated by three spaces. We pass the argument ````delimiter="   "```` to account for the way in which the columns are seperated. This leads to another problem and that is that Pandas is not written entirely in Python. Pandas also makes use of the C engine which doesn't recognise seperators greater than one character. This is fixed by specifying ````engine="python"```` so that Python reads the seperator instead.

In [92]:
# Coverts data within the specified file into a data frame using the Python engine
df = pd.read_csv("H2O.csv", delimiter="   ",engine="python")

# Displays the data frame
df

  Atom       x       y    z
0    H  0.0000  0.0000  0.0
1    O  0.8638  0.4573  0.0
2    H  1.7785  0.0000  0.0

In addition to being able to read dataframes from files, Pandas can also convert tables on websites into dataframes using `pd.read_html`. This requires you to pass the URL containing the desired table as a string and a match argument as well. Here passing `match = "keyword"` means that pandas will try to convert only the tables wiyth the `"keyword"` string into a DataFrame.

In the code below we attempt to convert a table of conductivities from [wikipedia](https://en.wikipedia.org/wiki/Electrical_resistivity_and_conductivity). Here theare a are multiple tabls so we pass the `match="coefficient"` argument. For this, it is important to note that the output for this function is a list of DataFrames not a single DataFrame. Here, to display the data the line `df = df[0]` was needed before it could be displayed. Another problem is that some websites block this feature so you won't be able to use this function to convert those tables into DataFrames.

In [93]:
# Converts conductivity table from Wikipedia into a data frame
df = pd.read_html("https://en.wikipedia.org/wiki/Electrical_resistivity_and_conductivity",match="coefficient")

# Displays data frame
df = df[0]
df

,Material,"Resistivity, ρ, at 20 °C (Ω·m)","Conductivity, σ, at 20 °C (S/m)",Temperature coefficient[c] (K−1),Reference
0,Silver[d],1.59×10−8,6.30×107,0.00380,[23][24]
1,Copper[e],1.68×10−8,5.96×107,0.00404,[25][26]
2,Annealed copper[f],1.72×10−8,5.80×107,0.00393,[27]
3,Gold[g],2.44×10−8,4.11×107,0.00340,[23]
4,Aluminium[h],2.65×10−8,3.77×107,0.00390,[23]
5,Calcium,3.36×10−8,2.98×107,0.00410,NaN
6,Tungsten,5.60×10−8,1.79×107,0.00450,[23]
7,Zinc,5.90×10−8,1.69×107,0.00370,[28]
8,Cobalt[i],6.24×10−8,1.60×107,0.007[30][unreliable source?],NaN
9,Nickel,6.99×10−8,1.43×107,0.006,NaN
10,Ruthenium[i],7.10×10−8,1.41×107,NaN,NaN
11,Lithium,9.28×10−8,1.08×107,0.006,NaN
12,Iron,9.70×10−8,1.03×107,0.005,[23]
13,Platinum,1.06×10−7,9.43×106,0.00392,[23]
14,Tin,1.09×10−7,9.17×106,0.00450,NaN
15,Gallium,1.40×10−7,7.10×106,0.004,NaN
16,Niobium,1.40×10−7,7.00×106,NaN,[31]
17,Carbon steel (1010),1.43×10−7,6.99×106,NaN,[32]
18,Lead,2.20×10−7,4.55×106,0.0039,[23]
19,Galinstan,2.89×10−7,3.46×106,NaN,[33]
20,Titanium,4.20×10−7,2.38×106,0.0038,NaN
21,Grain oriented electrical steel,4.60×10−7,2.17×106,NaN,[34]
22,Manganin,4.82×10−7,2.07×106,0.000002,[35]
23,Constantan,4.90×10−7,2.04×106,0.000008,[36]
24,Stainless steel[j],6.90×10−7,1.45×106,0.00094,[37]
25,Mercury,9.80×10−7,1.02×106,0.00090,[35]
26,Manganese,1.44×10−6,6.94×105,NaN,NaN
27,Nichrome[k],1.10×10−6,6.70×105[citation needed],0.0004,[23]
28,Carbon (amorphous),5×10−4 to 8×10−4,1.25×103 to 2.00×103,−0.0005,[23][38]
29,Carbon (graphite)parallel tobasal plane[l],2.5×10−6 to 5.0×10−6,2×105 to 3×105[citation needed],NaN,[4]
30,Carbon (graphite)perpendicular tobasal plane,3×10−3,3.3×102,NaN,[4]
31,GaAs,10−3 to 108[clarification needed],10−8 to 103[dubious – discuss],NaN,[39]
32,Germanium[m],4.6×10−1,2.17,−0.048,[23][24]
33,Sea water[n],2.1×10−1,4.8,NaN,[40]
34,Swimming pool water[o],3.3×10−1 to 4.0×10−1,0.25 to 0.30,NaN,[41]
35,Drinking water[p],2×101 to 2×103,5×10−4 to 5×10−2,NaN,[citation needed]
36,Silicon[m],2.3×103,4.35×10−4,−0.075,[42][23]
37,Wood (damp),103 to 104,10−4 to 10−3,NaN,[43]
38,Deionized water[q],1.8×105,4.2×10−5,NaN,[44]
39,Glass,1011 to 1015,10−15 to 10−11,NaN,[23][24]
40,Carbon (diamond),1012,~10−13,NaN,[45]
41,Hard rubber,1013,10−14,NaN,[23]
42,Air,109 to 1015,~10−15 to 10−9,NaN,[46][47]
43,Wood (oven dry),1014 to 1016,10−16 to 10−14,NaN,[43]
44,Sulfur,1015,10−16,NaN,[23]
45,Fused quartz,7.5×1017,1.3×10−18,NaN,[23]
46,PET,1021,10−21,NaN,NaN
47,Teflon,1023 to 1025,10−25 to 10−23,NaN,NaN

Now try to do the same with the first table from the link where you can use the word `Plasma` as a match. How can you read this in differently?

<a id = "ad"></a>

## Accessing data 

### DataFrame Slicing

Just as with a list, an array or dictionary we can also take a look at specific values, or ranges of values, from with the datastructure. In the case of a DataFrame we can look at slices just as we would with a list or an array, but we can use the column names or the indexes to access this information. 

Returning to the original data frame we will look at how to select specific columns in a data frame.

In [94]:
# Defines df as a data frame without adding an additional index column 
df = pd.read_csv("StarColours.csv")

# Displays the data frame df
df

,Color,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples
0,Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra
1,Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica
2,Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega"
3,Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon"
4,White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella"
5,Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran"
6,Red,"under 3,500 K",0.3,0.4,0.04(very faint),Some molecular bands of titanium oxide.,"Betelgeuse, Antares"

In order to select a specific column in a data frame we slice in a similar fashion to how we would select a dictionary value. The key here would be the column name as a string. Doing this returns the selected column.

In [95]:
# Returns the colour column
df["Color"]

0               Blue
1               Blue
2               Blue
3      Blue to White
4    White to Yellow
5      Orange to Red
6                Red
Name: Color, dtype: object

You can slice further to select a specfic item or set of item in that column.

In [96]:
# Selects seventh item in colour column
df["Color"][6]
df.loc[6, "Color"]

'Red'

In [97]:
# Selects 4th to 6th items in colour column
df["Color"][3:6]
df.iloc[3:6]["Color"]

3      Blue to White
4    White to Yellow
5      Orange to Red
Name: Color, dtype: object

One can also select multiple columns. Note the need for another set of square brackets as the argument passed is a list of columns.

In [98]:
# Returns the specified columns
df[["Color", "Main Characteristics", "Examples"]][3:6]

,Color,Main Characteristics,Examples
3,Blue to White,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon"
4,White to Yellow,Absorption lines of neutral metallic atoms and...,"Sun, Capella"
5,Orange to Red,"Metallic lines, some blue continuum.","Arcturus, Aldebaran"

### df.loc

Beyond slicing to find information, we can also select certain rows based on specified column conditions using `df.loc`. This is where we can begin to use conditional statements to access information from a dataset. For example, `df.loc[df["columnname"] > x]` will return all rows with a value greater than `x` for the column labelled `columnname`. Equally, we could also look for rows with values equal to a particular value, or using other comparison operators mentioned in the logic workshop.

Examples of this include finding rows with values greater than $1$ in the "Average Mass (The Sun =1)":

In [99]:
# Returns all rows with values greater than 
#one for the average mass column
df.loc[df["Average Mass (The Sun = 1)"] > 1]

,Color,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples
0,Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra
1,Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica
2,Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega"
3,Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon"
4,White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella"

Doing the same operation but extracting only the examples column:

In [100]:
# Returns all rows with values greater than 
#one for the average mass column
df.loc[df["Average Mass (The Sun = 1)"] > 1, "Examples"]

0         10 Lacertra
1        Rigel  Spica
2        Sirius, Vega
3    Canopus, Procyon
4        Sun, Capella
Name: Examples, dtype: object

Or finding all rows where the "Rigal Spice" in the examples column:

In [101]:
# Returns all rows with "Rigel  Spica" in the "Examples" column
df.loc[df["Examples"] == "Rigel  Spica"]

,Color,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples
1,Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica

Where we can use this assignment to change the value of a given cell if we use assignment at the end of finding the specific row. For example, try changing the color of the row with "10 Lacertra" as an example to "Violet", checking the row, and then changing the value back?

<a id = "do"></a>

## DataFrame operations

The format of the DataFrame allows much in built functionality, including the ability to perform mathematical operations on columns and across them, the creation of new columns to add to datasets and a load of inbuilt functionality as well.

### Mathmatical Operations on Data Frame Columns

Performing mathmatical operations on data frame columns means the operation will be performed for each element in equivalent positions in the column just as it would for a Numpy array which we covered last workshop.

For example, we can add the mass averge and the mass radius columns together:

In [102]:
# Adding the average mass and radius columns
df["Average Mass (The Sun = 1)"] + df["Average Radius (The Sun = 1)"]

0    75.0
1    25.0
2     5.7
3     3.0
4     2.2
5     1.7
6     0.7
dtype: float64

Or we can multiple the mas by three:

In [103]:
df["Average Mass (The Sun = 1)"] * 3

0    180.0
1     54.0
2      9.6
3      5.1
4      3.3
5      2.4
6      0.9
Name: Average Mass (The Sun = 1), dtype: float64

### Defining New Columns

Once an operation has been performed on a column, we can assign the results back to the original dataframe by slicing for a column that doesn't yet exist (or if we wanted to overwrite the original column we could specify that column). Here, we will define a density column from the average mass and average radius column:

In [104]:
# Defines a new average density column accordingly
df["Average Density"] = ((df["Average Mass (The Sun = 1)"]
                          *3)
                         /(4*
                           np.pi*
                           (df["Average Radius (The Sun = 1)"]
                            **3)))

# Displays the data frame
df

,Color,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples,Average Density
0,Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra,0.004244
1,Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica,0.012528
2,Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega",0.048892
3,Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon",0.184727
4,White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella",0.197300
5,Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran",0.261983
6,Red,"under 3,500 K",0.3,0.4,0.04(very faint),Some molecular bands of titanium oxide.,"Betelgeuse, Antares",1.119058

### Data Frame Functions

Most functions within Pandas spefically apply to data frames and are called by typing `df.function_name()`. Here `df` is the data frame and `function()` is the function applied to the data frame. Often you can apply these to column slices by typing `df["column name"].function()`. Examples of these include:

#### df.head()
This returns the first set of rows in the data frame. By default this is the first five rows. Alternatively you can specify the a number of rows to return.

In [105]:
# Returns first five rows from the data frame
df.head()

,Color,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples,Average Density
0,Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra,0.004244
1,Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica,0.012528
2,Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega",0.048892
3,Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon",0.184727
4,White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella",0.197300

In [106]:
# Returns first two rows from data frame
df.head(2)

,Color,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples,Average Density
0,Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra,0.004244
1,Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica,0.012528

#### df.tail() 
Identical to ````df.head()```` except that it the last set of rows is returned instead.

In [107]:
# Returns last five rows from the data frame
df.tail()

,Color,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples,Average Density
2,Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega",0.048892
3,Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon",0.184727
4,White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella",0.197300
5,Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran",0.261983
6,Red,"under 3,500 K",0.3,0.4,0.04(very faint),Some molecular bands of titanium oxide.,"Betelgeuse, Antares",1.119058

In [108]:
# Returns last two rows from data frame
df.tail(2)

,Color,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples,Average Density
5,Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran",0.261983
6,Red,"under 3,500 K",0.3,0.4,0.04(very faint),Some molecular bands of titanium oxide.,"Betelgeuse, Antares",1.119058

#### df.unique()
Returns unique items as an array.

In [109]:
# Returns unique items from the colours column
df["Color"].unique()

array(['Blue', 'Blue to White', 'White to Yellow', 'Orange to Red', 'Red'],
      dtype=object)

#### df.describe()
Returns a number of statistical parameters for all colums with numerical values.

In [110]:
# Returns unique items from the colours row
df.describe()

,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Density
count,7.000000,7.000000,7.000000
mean,12.157143,4.028571,0.261248
std,22.001883,5.330952,0.391321
min,0.300000,0.400000,0.004244
25%,0.950000,1.000000,0.030710
50%,1.700000,1.300000,0.184727
75%,10.600000,4.750000,0.229641
max,60.000000,15.000000,1.119058

Alternatively, if you only wanted one of the rows above you could choose only to find the specific row instead.

In [111]:
# Returns the mean of each numerical column
df.mean()

/Users/andres/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Average Mass (The Sun = 1)      12.157143
Average Radius (The Sun = 1)     4.028571
Average Density                  0.261248
dtype: float64

#### df.set_index
If I already have a data frame and want to select an index then I can use this function. I pass the column name as the argument. Additionally, writing ````inplace=True```` as an argument means the data frame will be redefined with this new index.

In [112]:
# Replaces the index column for df with the "Color" column
df.set_index("Color", inplace=True)

# Displays data frame
df

,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples,Average Density
Color,,,,,,,
Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra,0.004244
Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica,0.012528
Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega",0.048892
Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon",0.184727
White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella",0.197300
Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran",0.261983
Red,"under 3,500 K",0.3,0.4,0.04(very faint),Some molecular bands of titanium oxide.,"Betelgeuse, Antares",1.119058

#### Converting Columns to Arrays, Lists and Dictionaries

Using ````df.values````,````df.tolist()```` and ````df.to_dict()```` columns can be converted into arrays, lists and dictionaries respectively. When converting to a dictionary the index column provides the key for each value.

In [113]:
# Converts the column to an array
df["Examples"].values

array(['10 Lacertra', 'Rigel  Spica', 'Sirius, Vega', 'Canopus, Procyon',
       'Sun, Capella', 'Arcturus, Aldebaran', 'Betelgeuse, Antares'],
      dtype=object)

In [114]:
# Converts column to a list
df["Examples"].tolist()

['10 Lacertra',
 'Rigel  Spica',
 'Sirius, Vega',
 'Canopus, Procyon',
 'Sun, Capella',
 'Arcturus, Aldebaran',
 'Betelgeuse, Antares']

In [115]:
# Converts column to a dictionary
df["Examples"].to_dict()

{'Blue': 'Sirius, Vega',
 'Blue to White': 'Canopus, Procyon',
 'White to Yellow': 'Sun, Capella',
 'Orange to Red': 'Arcturus, Aldebaran',
 'Red': 'Betelgeuse, Antares'}

#### Dropping a Row or Column
Using ````df.drop```` it is possible to drop a row or column from a data frame. The first argument requires the row index or column name. This can instead be a list of indexes or column names if you want to drop multiple at the same time. The second argument determines whether you are removing a row or column. Using ````axis=0```` will drop the row with the specified index while ````axis=1```` will drop the specified column. Writing ````inplace=True```` redefines your data frame.

In [116]:
# Drops the row with "Red" as its index
df.drop("Red",axis=0)

,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples,Average Density
Color,,,,,,,
Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra,0.004244
Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica,0.012528
Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega",0.048892
Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon",0.184727
White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella",0.197300
Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran",0.261983

In [117]:
# Drops rows with "Red" and "Blue" as their index
df.drop(["Red","Blue"],axis=0)

,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples,Average Density
Color,,,,,,,
Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon",0.184727
White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella",0.197300
Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran",0.261983

In [118]:
# Drops the "Average Density" column
df.drop("Average Density",axis=1,inplace=True)

# Displays data frame
df

,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples
Color,,,,,,
Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra
Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica
Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega"
Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon"
White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella"
Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran"
Red,"under 3,500 K",0.3,0.4,0.04(very faint),Some molecular bands of titanium oxide.,"Betelgeuse, Antares"

#### Multiple Functions
With Pandas like its possible to apply these functions one after the other. A generic example would look something like ````df.function1().function2()```` where ````function1()```` is the first function and ````function2()```` is the second function. Here we will drop two columns at once using the drop function twice.

In [119]:
# Drops the main characteristics and examples column
df.drop("Main Characteristics",axis=1).drop("Examples",axis=1)

,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1)
Color,,,,
Blue,"over 25,000 K",60.0,15.0,1400000
Blue,"11,000 - 25,000 K",18.0,7.0,20000
Blue,"7,500 - 11,000 K",3.2,2.5,80
Blue to White,"6,000 - 7,500 K",1.7,1.3,6
White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2
Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4
Red,"under 3,500 K",0.3,0.4,0.04(very faint)

#### Merging Dataframes
Using ````df1.append(df2)```` you can merge two similar data frames together. Provided they have similar columns,
this will attach ````df2```` to the bottom of ````df1````. Here we append a data frame to itself.

In [120]:
# Joins the data frame df with itself
df.append(df)

,Approximate Surface Temperature,Average Mass (The Sun = 1),Average Radius (The Sun = 1),Average Luminosity (The Sun = 1),Main Characteristics,Examples
Color,,,,,,
Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra
Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica
Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega"
Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon"
White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella"
Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran"
Red,"under 3,500 K",0.3,0.4,0.04(very faint),Some molecular bands of titanium oxide.,"Betelgeuse, Antares"
Blue,"over 25,000 K",60.0,15.0,1400000,Singly ionized helium lines (H I) either in em...,10 Lacertra
Blue,"11,000 - 25,000 K",18.0,7.0,20000,Neutral helium lines (H II) in absorption.,Rigel Spica
Blue,"7,500 - 11,000 K",3.2,2.5,80,"Hydrogen (H) lines strongest for A0 stars, dec...","Sirius, Vega"
Blue to White,"6,000 - 7,500 K",1.7,1.3,6,Ca II absorption. Metallic lines become notice...,"Canopus, Procyon"
White to Yellow,"5,000 - 6,000 K",1.1,1.1,1.2,Absorption lines of neutral metallic atoms and...,"Sun, Capella"
Orange to Red,"3,500 - 5,000 K",0.8,0.9,0.4,"Metallic lines, some blue continuum.","Arcturus, Aldebaran"
Red,"under 3,500 K",0.3,0.4,0.04(very faint),Some molecular bands of titanium oxide.,"Betelgeuse, Antares"

### NaN Variables

You may have noticed that in some of our DataFrames a few NaN values appear. These stand for "Not a Number" and are invalid entries which you'll likely want to eliminate when performing any data analysis. To handle this we can use functions such as:

### df.dropna()

A brute force way of dealing with NaN variables is to use this function. This essentially removes all rows containing a NaN variable. Passing ````inplace=True```` as an argument redefines the data frame as one with all rows containing NaN removed.

In [121]:
# Converts conductivity table from Wikipedia into a data frame
df = pd.read_html("https://en.wikipedia.org/wiki/Electrical_resistivity_and_conductivity",
                  match="coefficient")

# Displays data frame
df = df[0]
df

,Material,"Resistivity, ρ, at 20 °C (Ω·m)","Conductivity, σ, at 20 °C (S/m)",Temperature coefficient[c] (K−1),Reference
0,Silver[d],1.59×10−8,6.30×107,0.00380,[23][24]
1,Copper[e],1.68×10−8,5.96×107,0.00404,[25][26]
2,Annealed copper[f],1.72×10−8,5.80×107,0.00393,[27]
3,Gold[g],2.44×10−8,4.11×107,0.00340,[23]
4,Aluminium[h],2.65×10−8,3.77×107,0.00390,[23]
5,Calcium,3.36×10−8,2.98×107,0.00410,NaN
6,Tungsten,5.60×10−8,1.79×107,0.00450,[23]
7,Zinc,5.90×10−8,1.69×107,0.00370,[28]
8,Cobalt[i],6.24×10−8,1.60×107,0.007[30][unreliable source?],NaN
9,Nickel,6.99×10−8,1.43×107,0.006,NaN
10,Ruthenium[i],7.10×10−8,1.41×107,NaN,NaN
11,Lithium,9.28×10−8,1.08×107,0.006,NaN
12,Iron,9.70×10−8,1.03×107,0.005,[23]
13,Platinum,1.06×10−7,9.43×106,0.00392,[23]
14,Tin,1.09×10−7,9.17×106,0.00450,NaN
15,Gallium,1.40×10−7,7.10×106,0.004,NaN
16,Niobium,1.40×10−7,7.00×106,NaN,[31]
17,Carbon steel (1010),1.43×10−7,6.99×106,NaN,[32]
18,Lead,2.20×10−7,4.55×106,0.0039,[23]
19,Galinstan,2.89×10−7,3.46×106,NaN,[33]
20,Titanium,4.20×10−7,2.38×106,0.0038,NaN
21,Grain oriented electrical steel,4.60×10−7,2.17×106,NaN,[34]
22,Manganin,4.82×10−7,2.07×106,0.000002,[35]
23,Constantan,4.90×10−7,2.04×106,0.000008,[36]
24,Stainless steel[j],6.90×10−7,1.45×106,0.00094,[37]
25,Mercury,9.80×10−7,1.02×106,0.00090,[35]
26,Manganese,1.44×10−6,6.94×105,NaN,NaN
27,Nichrome[k],1.10×10−6,6.70×105[citation needed],0.0004,[23]
28,Carbon (amorphous),5×10−4 to 8×10−4,1.25×103 to 2.00×103,−0.0005,[23][38]
29,Carbon (graphite)parallel tobasal plane[l],2.5×10−6 to 5.0×10−6,2×105 to 3×105[citation needed],NaN,[4]
30,Carbon (graphite)perpendicular tobasal plane,3×10−3,3.3×102,NaN,[4]
31,GaAs,10−3 to 108[clarification needed],10−8 to 103[dubious – discuss],NaN,[39]
32,Germanium[m],4.6×10−1,2.17,−0.048,[23][24]
33,Sea water[n],2.1×10−1,4.8,NaN,[40]
34,Swimming pool water[o],3.3×10−1 to 4.0×10−1,0.25 to 0.30,NaN,[41]
35,Drinking water[p],2×101 to 2×103,5×10−4 to 5×10−2,NaN,[citation needed]
36,Silicon[m],2.3×103,4.35×10−4,−0.075,[42][23]
37,Wood (damp),103 to 104,10−4 to 10−3,NaN,[43]
38,Deionized water[q],1.8×105,4.2×10−5,NaN,[44]
39,Glass,1011 to 1015,10−15 to 10−11,NaN,[23][24]
40,Carbon (diamond),1012,~10−13,NaN,[45]
41,Hard rubber,1013,10−14,NaN,[23]
42,Air,109 to 1015,~10−15 to 10−9,NaN,[46][47]
43,Wood (oven dry),1014 to 1016,10−16 to 10−14,NaN,[43]
44,Sulfur,1015,10−16,NaN,[23]
45,Fused quartz,7.5×1017,1.3×10−18,NaN,[23]
46,PET,1021,10−21,NaN,NaN
47,Teflon,1023 to 1025,10−25 to 10−23,NaN,NaN

In [122]:
# Drops all rows containing NaN variables.
df.dropna()

,Material,"Resistivity, ρ, at 20 °C (Ω·m)","Conductivity, σ, at 20 °C (S/m)",Temperature coefficient[c] (K−1),Reference
0,Silver[d],1.59×10−8,6.30×107,0.00380,[23][24]
1,Copper[e],1.68×10−8,5.96×107,0.00404,[25][26]
2,Annealed copper[f],1.72×10−8,5.80×107,0.00393,[27]
3,Gold[g],2.44×10−8,4.11×107,0.00340,[23]
4,Aluminium[h],2.65×10−8,3.77×107,0.00390,[23]
6,Tungsten,5.60×10−8,1.79×107,0.00450,[23]
7,Zinc,5.90×10−8,1.69×107,0.00370,[28]
12,Iron,9.70×10−8,1.03×107,0.005,[23]
13,Platinum,1.06×10−7,9.43×106,0.00392,[23]
18,Lead,2.20×10−7,4.55×106,0.0039,[23]
22,Manganin,4.82×10−7,2.07×106,0.000002,[35]
23,Constantan,4.90×10−7,2.04×106,0.000008,[36]
24,Stainless steel[j],6.90×10−7,1.45×106,0.00094,[37]
25,Mercury,9.80×10−7,1.02×106,0.00090,[35]
27,Nichrome[k],1.10×10−6,6.70×105[citation needed],0.0004,[23]
28,Carbon (amorphous),5×10−4 to 8×10−4,1.25×103 to 2.00×103,−0.0005,[23][38]
32,Germanium[m],4.6×10−1,2.17,−0.048,[23][24]
36,Silicon[m],2.3×103,4.35×10−4,−0.075,[42][23]

Alternatively, passing ````axis=1```` will eliminate columns.

In [123]:
# Drops all columns containing NaN variables.
df.dropna(axis=1)

,Material,"Resistivity, ρ, at 20 °C (Ω·m)","Conductivity, σ, at 20 °C (S/m)"
0,Silver[d],1.59×10−8,6.30×107
1,Copper[e],1.68×10−8,5.96×107
2,Annealed copper[f],1.72×10−8,5.80×107
3,Gold[g],2.44×10−8,4.11×107
4,Aluminium[h],2.65×10−8,3.77×107
5,Calcium,3.36×10−8,2.98×107
6,Tungsten,5.60×10−8,1.79×107
7,Zinc,5.90×10−8,1.69×107
8,Cobalt[i],6.24×10−8,1.60×107
9,Nickel,6.99×10−8,1.43×107
10,Ruthenium[i],7.10×10−8,1.41×107
11,Lithium,9.28×10−8,1.08×107
12,Iron,9.70×10−8,1.03×107
13,Platinum,1.06×10−7,9.43×106
14,Tin,1.09×10−7,9.17×106
15,Gallium,1.40×10−7,7.10×106
16,Niobium,1.40×10−7,7.00×106
17,Carbon steel (1010),1.43×10−7,6.99×106
18,Lead,2.20×10−7,4.55×106
19,Galinstan,2.89×10−7,3.46×106
20,Titanium,4.20×10−7,2.38×106
21,Grain oriented electrical steel,4.60×10−7,2.17×106
22,Manganin,4.82×10−7,2.07×106
23,Constantan,4.90×10−7,2.04×106
24,Stainless steel[j],6.90×10−7,1.45×106
25,Mercury,9.80×10−7,1.02×106
26,Manganese,1.44×10−6,6.94×105
27,Nichrome[k],1.10×10−6,6.70×105[citation needed]
28,Carbon (amorphous),5×10−4 to 8×10−4,1.25×103 to 2.00×103
29,Carbon (graphite)parallel tobasal plane[l],2.5×10−6 to 5.0×10−6,2×105 to 3×105[citation needed]
30,Carbon (graphite)perpendicular tobasal plane,3×10−3,3.3×102
31,GaAs,10−3 to 108[clarification needed],10−8 to 103[dubious – discuss]
32,Germanium[m],4.6×10−1,2.17
33,Sea water[n],2.1×10−1,4.8
34,Swimming pool water[o],3.3×10−1 to 4.0×10−1,0.25 to 0.30
35,Drinking water[p],2×101 to 2×103,5×10−4 to 5×10−2
36,Silicon[m],2.3×103,4.35×10−4
37,Wood (damp),103 to 104,10−4 to 10−3
38,Deionized water[q],1.8×105,4.2×10−5
39,Glass,1011 to 1015,10−15 to 10−11
40,Carbon (diamond),1012,~10−13
41,Hard rubber,1013,10−14
42,Air,109 to 1015,~10−15 to 10−9
43,Wood (oven dry),1014 to 1016,10−16 to 10−14
44,Sulfur,1015,10−16
45,Fused quartz,7.5×1017,1.3×10−18
46,PET,1021,10−21
47,Teflon,1023 to 1025,10−25 to 10−23

#### df.fillna
When we used ````df.dropna()```` above all rows with NaN data were removed. This can be a problem because we are losing information from the other columns that don't have NaN data. A way of dealing with this is to use ````df.fillna(x)```` instead. Here, instead of removing rows we replace any NaN with whatever ````x```` is. Typically this would be chosen to be some extreme value that would be recognised by an algorithm as an outlier. Again the argument ````inplace=True```` can be used to redefine the data frame.

In [127]:
# Replaces NaN variables with -99999999
df.fillna(-99999999)

,Material,"Resistivity, ρ, at 20 °C (Ω·m)","Conductivity, σ, at 20 °C (S/m)",Temperature coefficient[c] (K−1),Reference
0,Silver[d],1.59×10−8,6.30×107,0.00380,[23][24]
1,Copper[e],1.68×10−8,5.96×107,0.00404,[25][26]
2,Annealed copper[f],1.72×10−8,5.80×107,0.00393,[27]
3,Gold[g],2.44×10−8,4.11×107,0.00340,[23]
4,Aluminium[h],2.65×10−8,3.77×107,0.00390,[23]
5,Calcium,3.36×10−8,2.98×107,0.00410,-99999999
6,Tungsten,5.60×10−8,1.79×107,0.00450,[23]
7,Zinc,5.90×10−8,1.69×107,0.00370,[28]
8,Cobalt[i],6.24×10−8,1.60×107,0.007[30][unreliable source?],-99999999
9,Nickel,6.99×10−8,1.43×107,0.006,-99999999
10,Ruthenium[i],7.10×10−8,1.41×107,-99999999,-99999999
11,Lithium,9.28×10−8,1.08×107,0.006,-99999999
12,Iron,9.70×10−8,1.03×107,0.005,[23]
13,Platinum,1.06×10−7,9.43×106,0.00392,[23]
14,Tin,1.09×10−7,9.17×106,0.00450,-99999999
15,Gallium,1.40×10−7,7.10×106,0.004,-99999999
16,Niobium,1.40×10−7,7.00×106,-99999999,[31]
17,Carbon steel (1010),1.43×10−7,6.99×106,-99999999,[32]
18,Lead,2.20×10−7,4.55×106,0.0039,[23]
19,Galinstan,2.89×10−7,3.46×106,-99999999,[33]
20,Titanium,4.20×10−7,2.38×106,0.0038,-99999999
21,Grain oriented electrical steel,4.60×10−7,2.17×106,-99999999,[34]
22,Manganin,4.82×10−7,2.07×106,0.000002,[35]
23,Constantan,4.90×10−7,2.04×106,0.000008,[36]
24,Stainless steel[j],6.90×10−7,1.45×106,0.00094,[37]
25,Mercury,9.80×10−7,1.02×106,0.00090,[35]
26,Manganese,1.44×10−6,6.94×105,-99999999,-99999999
27,Nichrome[k],1.10×10−6,6.70×105[citation needed],0.0004,[23]
28,Carbon (amorphous),5×10−4 to 8×10−4,1.25×103 to 2.00×103,−0.0005,[23][38]
29,Carbon (graphite)parallel tobasal plane[l],2.5×10−6 to 5.0×10−6,2×105 to 3×105[citation needed],-99999999,[4]
30,Carbon (graphite)perpendicular tobasal plane,3×10−3,3.3×102,-99999999,[4]
31,GaAs,10−3 to 108[clarification needed],10−8 to 103[dubious – discuss],-99999999,[39]
32,Germanium[m],4.6×10−1,2.17,−0.048,[23][24]
33,Sea water[n],2.1×10−1,4.8,-99999999,[40]
34,Swimming pool water[o],3.3×10−1 to 4.0×10−1,0.25 to 0.30,-99999999,[41]
35,Drinking water[p],2×101 to 2×103,5×10−4 to 5×10−2,-99999999,[citation needed]
36,Silicon[m],2.3×103,4.35×10−4,−0.075,[42][23]
37,Wood (damp),103 to 104,10−4 to 10−3,-99999999,[43]
38,Deionized water[q],1.8×105,4.2×10−5,-99999999,[44]
39,Glass,1011 to 1015,10−15 to 10−11,-99999999,[23][24]
40,Carbon (diamond),1012,~10−13,-99999999,[45]
41,Hard rubber,1013,10−14,-99999999,[23]
42,Air,109 to 1015,~10−15 to 10−9,-99999999,[46][47]
43,Wood (oven dry),1014 to 1016,10−16 to 10−14,-99999999,[43]
44,Sulfur,1015,10−16,-99999999,[23]
45,Fused quartz,7.5×1017,1.3×10−18,-99999999,[23]
46,PET,1021,10−21,-99999999,-99999999
47,Teflon,1023 to 1025,10−25 to 10−23,-99999999,-99999999

### Converting Data Frames to Files
Just as we can read a file and turn the data within into a data frame, we can also convert data within data frames to files. 
#### df.to_csv 
To generate a csv file from a data frame simple write the line ````df.to_csv("filename.csv")```` where ````df```` is the variable the data frame is defined as and ````"filename.csv"```` is the name of the csv file that will be generated. We often pass an additional argument ````index=False````. This removes the index column when converting to the file. Often this column will be unesserary and meaningless, only serving to take up space. When reading the file an index column is typically generated anyway so storing the index column isn't necessary.

In [126]:
# Converts data frame into a csv file without an index column
df.to_csv("conductivities.csv",index=False)

#### Other Types of File
Other commands can produce other types of files from data frames. One example of this is ````df.to_excel("filename.xlsx")```` which creates an Excel file with the name ````filename.xlsx````. One can equally create a data frame from such a file. The equivalent command for the Excel file for this is ````pd.read_excel("filename.xlsx")````.

### References
1) StarColours.csv file data obtained from: https://www.enchantedlearning.com/subjects/astronomy/stars/startypes.shtml